snippet new "New Client"
/* 
**********************************************************/
cPanel & FTP
------------
url: /cpanel
username: 
password: 
email: 
ip: 

MySQL
--------
host: localhost
ip: 
user: 
password: 
database: 
prefix: 

Domain
------
url: 
username: 
password: 

WordPress
---------
url: 
username: 
password: 


endsnippet
