[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://webplantmedia@github.com/scrooloose/nerdtree.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://webplantmedia@github.com/scrooloose/nerdcommenter.git
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = https://webplantmedia@github.com/mileszs/ack.vim.git
