[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://webplantmedia@github.com/scrooloose/nerdtree.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://webplantmedia@github.com/scrooloose/nerdcommenter.git
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = https://webplantmedia@github.com/mileszs/ack.vim.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://webplantmedia@github.com/kien/ctrlp.vim.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://webplantmedia@github.com/SirVer/ultisnips.git
[submodule "bundle/vmustache"]
	path = bundle/vmustache
	url = https://webplantmedia@github.com/tobyS/vmustache.git
[submodule "bundle/pdv"]
	path = bundle/pdv
	url = https://webplantmedia@github.com/tobyS/pdv.git
[submodule "bundle/simple-javascript-indenter"]
	path = bundle/simple-javascript-indenter
	url = https://webplantmedia@github.com/jiangmiao/simple-javascript-indenter.git
[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = https://webplantmedia@github.com/flazz/vim-colorschemes.git
[submodule "bundle/transmit-ftp"]
	path = bundle/transmit-ftp
	url = https://webplantmedia@github.com/webplantmedia/transmit-ftp.git
