[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://webplantmedia@github.com/scrooloose/nerdtree.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://webplantmedia@github.com/scrooloose/nerdcommenter.git
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = https://webplantmedia@github.com/mileszs/ack.vim.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://webplantmedia@github.com/SirVer/ultisnips.git
[submodule "bundle/vmustache"]
	path = bundle/vmustache
	url = https://webplantmedia@github.com/tobyS/vmustache.git
[submodule "bundle/pdv"]
	path = bundle/pdv
	url = https://webplantmedia@github.com/tobyS/pdv.git
[submodule "bundle/simple-javascript-indenter"]
	path = bundle/simple-javascript-indenter
	url = https://webplantmedia@github.com/jiangmiao/simple-javascript-indenter.git
[submodule "bundle/transmit-ftp"]
	path = bundle/transmit-ftp
	url = https://webplantmedia@github.com/webplantmedia/transmit-ftp.git
[submodule "bundle/vim-visual-star-search"]
	path = bundle/vim-visual-star-search
	url = https://webplantmedia@github.com/nelstrom/vim-visual-star-search.git
[submodule "bundle/phpcomplete.vim"]
	path = bundle/phpcomplete.vim
	url = https://webplantmedia@github.com/shawncplus/phpcomplete.vim.git
[submodule "bundle/php.vim"]
	path = bundle/php.vim
	url = https://webplantmedia@github.com/StanAngeloff/php.vim.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://webplantmedia@github.com/tpope/vim-markdown.git
[submodule "bundle/vim-buffergator"]
	path = bundle/vim-buffergator
	url = https://webplantmedia@github.com/jeetsukumaran/vim-buffergator.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://webplantmedia@github.com/tpope/vim-fugitive.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = https://webplantmedia@github.com/webplantmedia/vim-colorschemes.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://webplantmedia@github.com/ctrlpvim/ctrlp.vim.git
